@using AlienInvaders.Models
@using System.Reflection.Metadata
@using System.Security.Cryptography
@inject IJSRuntime JS

<div style="width: 400px; height: 500px; background: black; border: 0; position: relative;"
     tabindex="0" @ref="GameContainer"
     @onkeydown="MoveShipOnce"
     @onkeyup="Shoot">

    @if (!GameHasStarted)
    {
        <div class="start-panel">
            <div class="d-flex justify-content-center">
                <p class="pixel-font text-light text-center">Click Start to begin game.</p><br />
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-light pixel-font" @onclick="StartGame">Start</button>
            </div>
        </div>
    }
    else
    {
        <CascadingValue Value="_gameManager">
            <GameInfoBar></GameInfoBar>
        </CascadingValue>


        @foreach (var row in _gameManager.AlienInvaders)
        {
            foreach (var alien in row)
            {
                <Alien Invader="alien"></Alien>
            }
            <br />
        }


        @foreach (var shot in _gameManager.Bullets)
        {
            <Bullet Shot="@shot"></Bullet>
        }

        <Ship MyShip="@_gameManager.Ship"></Ship>
    }
    
    @if (_gameManager.AliensHit == 18 && !_gameManager.IsRunning)
    {
        <div class="d-flex justify-content-center align-items-center game-over-panel">
            <div class="pixel-font">
                <GameOver Score="@_gameManager.CalculateScore()"></GameOver>
            </div>
        </div>
    }
    
    <style>
        @@font-face {
            font-family: 'Minecraft';
            src: url('/fonts/Minecraft.ttf') format('truetype');
        }

        .pixel-font {
            font-family: Minecraft;
        }

        .start-panel {
            width: 100%;
            position: relative;
            top: 200px;
            justify-content: center;
        }

        .game-over-panel {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

    </style>
</div>


@code {
    GameManager _gameManager;

    public bool GameHasStarted { get; set; }

    protected ElementReference GameContainer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _gameManager = new GameManager();
        _gameManager.GameLoopCompleted += (o, e) => StateHasChanged();
    }

    public async Task StartGame()
    {
        GameHasStarted = true;
        StateHasChanged();
        _gameManager.StartGame();
        await JS.InvokeVoidAsync("focusOnElement", GameContainer);
    }

    public void MoveShipOnce(KeyboardEventArgs e)
    {
        if (e.Key == "ArrowLeft")
            _gameManager.Ship.MoveLeft();
        if (e.Key == "ArrowRight")
            _gameManager.Ship.MoveRight();
    }

    public async Task Shoot(KeyboardEventArgs e)
    {
        if (_gameManager.IsRunning && e.Key == " ")
            await _gameManager.GenerateNewShot();
    }
}
