@inherits LayoutComponentBase
@using AlienInvaders.Pages.Game

<div class="page">
    <div class="row justify-content-center w-100 pt-1">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
                <img src="/images/ailogo2.png" alt="Alien Invaders"/>
            </div>
            <div class="pt-2">            
                <Container></Container>
            </div>
        </div>
    </div>
</div>
