@inherits LayoutComponentBase
@using AlienInvaders.Pages.Game

<div class="page">
    <div class="row flex-row justify-content-center w-100 h-100 pt-5">
        <div>
            <Container></Container>
        </div>
    </div>
</div>
